html {
    background-image: linear-gradient(to bottom, white 0%, silver 100%);
}
body {
    width: 1000px;
    background-color: ghostwhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin: 15px auto;
    padding: 15px 1.5em;
    border: 1px solid blue;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
}
a:focus, a:hover{
    font-style: italic;
    color: crimson;
}
header h1 {
    font-size: 175%;
    color:crimson;
    text-indent: 30px;
}
header h2 {
    font-size: 175%;
    color:rgb(53, 24, 111);
    text-indent: 30px;
}
img {
    float:left;
}
.shadow {
    text-shadow: 2px 2px 2px 
}
main {
    clear: left;
}
main nav{
    
}
main h3{
    margin-top: 3em 2em 1.5em;
    border: 5px double blue;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px;
    padding: 1em;
    font-size: 105%;
}
#list {
    line-height: 1.5em;
}
footer p.copyright {
    text-align: center;
    font-size: 80%;
}
