#nav_menu ul {
    list-style-type: none;
}

#nav_menu ul li {
    float: left;
}

#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0;
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-right: 2px solid white;
}
article {
    display: inline-block;
    vertical-align: top;
    width: 75%;
    margin: 0 auto; 
}
#nav_menu ul li a.lastitem {
    border-right: none;
}

#nav_menu ul li a.current {
    color: yellow;
}

body {
    width: 95%;
    margin: 15px auto;
}
aside {
    width: 20%;
    position: fixed;
    top: 0;
    overflow-y: auto;
}

aside ol {
    list-style-type: upper-roman;
}

aside ul {
    list-style-type: square;
}

/* Add additional styling for the lorem text, as per your requirements */
